<p style="display:none">
  Des tampons et serviettes 100% coton bio livrés directement chez toi
</p>

<p>
  Bienvenue chez Jho!<br>
  Nous sommes heureuses de t'accueillir.
</p>

<p>
  Nous créons la nouvelle marque de tampons et serviettes hygiéniques 100% coton bio.
</p>

<p>
  Jho arrive bientôt!
</p>

<p>
  Parle de Jho a tes amies et gagne des cadeaux en partageant ce lien : <%= @ref_url %>
</p>

<p>
  Pour consulter à tout moment ta jauge à cadeaux, c’est par ici : <a href="<%= @login_url %>"><%= @login_url %></a>
</p>

<p>
  <a href="<%= @social_facebook %>">Facebook</a>
  <a href="<%= @social_twitter %>">Twitter</a>
  <a href="<%= @social_instagram %>">Instagram</a>
</p>
