<p style="display:none">
  Jho, tampons et serviettes hygiéniques en coton BIO.  Livrés chez vous, vous pouvez même vous abonner !
</p>

<p>
  Bienvenue chez jho !
</p>

<p>
  Tellement​ heureuses de vous accueillir parmi nous !
</p>

<p>
  Jho arrive bientôt !
</p>

<p>
  Jho, c'est la nouvelle marque généreuse de tampons et serviettes
  hygiéniques en coton bio​. En plus de vous ​simplifier​ la vie ​grace à
  l'abonnement​, à chacun de vos achats​,​ jho fait don de produits à des
  femmes dans le besoin​ via 2 ONG : Gynécologie sans frontières en
  France et W4 au Came​roun.
</p>

<p>
  Parlez de jho aux femmes autour de vous et gagnez des cadeaux en
  partageant ce lien : <%= @ref_url %>
</p>

<p>
  Et pour consulter à tout moment votre jauge à cadeaux, c'est par ici
  : <a href="<%= @login_url %>"><%= @login_url %></a>
</p>

<p>
  A très bientôt sur jho.fr,<br>
  L'équipe de jho
</p>

<p>
  <a href="<%= @social_facebook %>">Facebook</a>
  <a href="<%= @social_twitter %>">Twitter</a>
  <a href="<%= @social_instagram %>">Instagram</a>
</p>
