<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= @progressPercent %>%" aria-valuenow="<%= @referralsCount %>"
       aria-valuemin="0" aria-valuemax="<%= @progressMax %>"></div>
</div>

<%= @progressPercent %>
<br>
<%= @referralsCount %>
<br>

<%= @progressMax %>