<div class="container-fluid">
  <div class="row highlight logo">
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <!-- empty -->
        </div>
        <div class="col">
          <img src="<%= asset_path('jho_logo.svg') %>" class="mx-auto" id="logo">
        </div>
        <div class="col">
          <div id="bookmark">
            <img src="<%= asset_path('home/reveil.svg') %>" class="icon"><br>
            Les produits<br>
            Jho arrivent<br>
            en AVRIL
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">

      <div class="row hero">
        <div class="col-lg order-lg-2 mb-4 px-lg-5 text-center">
          <h1>
            Enfin !
          </h1>
          <p class="font-big mb-2">
            Une marque de tampons et<br>
            serviettes hygiéniques <br>
            en coton bio. 0 produit toxique.
          </p>
          <p class="font-cursive font-small mb-4">
            Livrés chez vous, on peut même s’abonner !
          </p>
          <p class="font-fine mb-3">
            Des règles saines, ça vous parle ? Soyez la première informée
          </p>

          <% if Rails.application.config.ended %>
            <%= render "users/campaign_ended" %>
          <% else %>
            <%= render "users/campaign_ongoing" %>
          <% end %>
        </div>

        <div class="col-lg order-lg-1 mb-100px pt-lg-5 text-center">
          <img src="<%= asset_path('home/play.svg') %>"
            class="play-button"
            data-izimodal-open="#video-modal" data-izimodal-transitionin="fadeInDown">
          <!--
          <div class="play-button" data-izimodal-open="#video-modal" data-izimodal-transitionin="fadeInDown">
            <div class="fa fa-play" aria-hidden="true"></div>
            <div>Voir la vidéo</div>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>

  <div class="row highlight">
    <div class="container">

      <div class="row pt-4 pb-4 icons">
        <div class="col">
          <img src="<%= asset_path('home/coton.svg') %>">
        </div>
        <div class="col">
          <img src="<%= asset_path('home/truck.svg') %>">
        </div>
        <div class="col">
          <img src="<%= asset_path('home/truck.svg') %>">
        </div>
      </div>

      <div class="row headers">
        <div class="col pb-2">
          <h2>
            Des produits sains
          </h2>
        </div>
        <div class="col">
          <h2>
            Livrés chez vous
          </h2>
        </div>
        <div class="col">
          <h2>
            Merci pour elles&nbsp;!
          </h2>
        </div>
      </div>

      <div class="row pb-5 values">
        <div class="col">
          0 chlore, 0 phtalate, 0 glyphosate. Que du coton bio. Et tout aussi efficaces.
        </div>
        <div class="col">
          Vous pourrez commander vos produits sur jho.fr, on livrera à votre porte. Vous pourrez même vous abonner.
        </div>
        <div class="col">
          A chacune de vos commandes, des produits seront distribués à des femmes dans le besoin.
        </div>
      </div>
    </div>
  </div>

  <div class="row highlight-dark">
    <div class="container">
      <div class="row py-100px">
        <div class="col-sm text-center">
          <h2>
            Prête pour des règles plus saines, plus justes&nbsp;?<br>
          </h2>
          <p class="font-big mb-4">
            Rejoins jho et parles-en autour de toi.
          </p>

          <% if Rails.application.config.ended %>
            <%= render "users/campaign_ended" %>
          <% else %>
            <%= render "users/campaign_ongoing" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <%= render "users/footer" %>

</div>


<div id="video-modal">
  <div class="embed-container">
    <iframe src='https://player.vimeo.com/video/245712135?title=0&byline=0&portrait=0' scrolling="no" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
</div>
