<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <img src="<%= asset_path('refer/jho-logo.svg') %>" class="mx-auto" id="logo">
        </div>
      </div>

      <div class="row hero">
        <div class="col-lg order-lg-2 mb-100px px-lg-5 text-center">
          <h1>
            Enfin !
            <img src="<%= asset_path('refer/emojis.png') %>" class="emoji">
          </h1>
          <p class="font-big mb-1">
            Une marque de tampons<br>
            et serviettes hygiéniques<br>
            100 % coton bio.
          </p>
          <p class="font-small mb-4">
            (que du coton bio. Et absolument rien d’autre)
          </p>

          <h3 class="mb-4">
            Veux-tu recevoir bientôt les produits jho&nbsp;?
          </h3>

          <% if Rails.application.config.ended %>
            <%= render "users/campaign_ended" %>
          <% else %>
            <%= render "users/campaign_ongoing" %>
          <% end %>
        </div>

        <div class="col-lg order-lg-1 mb-100px pt-lg-5 text-center">
          <div class="play-button" data-izimodal-open="#video-modal" data-izimodal-transitionin="fadeInDown">
            <div class="fa fa-play" aria-hidden="true"></div>
            <div>Voir la vidéo</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row highlight">
    <div class="container">
      <div class="row">
        <div class="col-md pb-5 pt-5">
          <h2>
            Des produits sains
          </h2>
          <p>
            0 chlore, 0 phtalate, 0 glyphosate. 100 % coton bio. Et tout aussi efficaces.
          </p>
        </div>
        <div class="col-md pb-5 py-md-5">
          <h2>
            Livrés chez toi
          </h2>
          <p>
            Tu pourras commander tes produits sur jho.fr, on livrera à ta porte. Tu pourras même t'abonner.
          </p>
        </div>
        <div class="col-md pb-5 py-md-5">
          <h2>
            Merci pour elles&nbsp;!
          </h2>
          <p>
            À chacune de tes commandes, des produits seront distribués à des femmes dans le besoin.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row highlight-dark">
    <div class="container">
      <div class="row py-100px">
        <div class="col-sm text-center">
          <h2>
            Prête pour des règles plus saines, plus justes&nbsp;?<br>
          </h2>
          <p class="font-big mb-4">
            Rejoins jho et parles-en autour de toi.
          </p>

          <% if Rails.application.config.ended %>
            <%= render "users/campaign_ended" %>
          <% else %>
            <%= render "users/campaign_ongoing" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <%= render "users/footer" %>

</div>


<div id="video-modal">
  <div class="embed-container">
    <iframe src='https://player.vimeo.com/video/245712135?title=0&byline=0&portrait=0' scrolling="no" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
</div>
