<div class="container-fluid highlight-color">
  <div class="row highlight logo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-sm">
          <!-- empty -->
        </div>
        <div class="col-sm">
          <img src="<%= asset_path('jho_logo.svg') %>" class="mx-auto" id="logo">
        </div>
        <div class="col-sm">
          <div class="bookmark d-none d-md-block ml-auto mr-0">
            <%= render "users/bookmark" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row highlight-color">
    <div class="container">

      <div class="row hero">
        <div class="col-lg order-lg-2 mb-4 px-lg-5 text-center">
          <h1>
            Enfin&nbsp;!
          </h1>
          <p class="font-big mb-2" id="value">
            Une marque de tampons et
            serviettes hygiéniques
            en coton bio. 0 produit toxique.
          </p>
          <p class="font-cursive font-small mb-4">
            Livrés chez vous, on peut même s’abonner&nbsp;!
          </p>
          <p class="font-fine mb-3">
            Des règles saines, ça vous parle ? Soyez la première informée
          </p>

          <div class="signup-container">
            <%= form_for @user, :url => { :action => "create" } do |f| %>
              <div class="form-group mb-4">
                <%= f.text_field(:email, :placeholder => "Email", :class => "form-control", :'aria-label' => "Renseigne ton email", :type => "email") %>
              </div>
              <input name="commit" type="submit" class="btn btn-primary" value="Oui, je m’inscris">
            <% end %>
          </div>

          <% flash.each do |name, msg| -%>
            <div class="alert alert-danger mt-3">
              <%= msg %>
            </div>
          <% end -%>

        </div>

        <div class="col-lg order-lg-1 mb-100px pt-lg-5 text-center">
          <a href="#" class="trigger">
            <img src="<%= asset_path('home/play.svg') %>" class="play-button">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row highlight">
    <div class="col-sm">
      <div class="bookmark d-sm-block d-md-none mx-auto mb-2">
        <%= render "users/bookmark" %>
      </div>
    </div>
  </div>

  <div class="row highlight">
    <div class="container">

      <div class="row values">
        <div class="col-md py-4">
          <img src="<%= asset_path('home/coton.svg') %>">

          <h2>
            Des produits sains
          </h2>

          <p>
            0 chlore, 0 phtalate, 0 glyphosate. Que du coton bio. Et tout aussi efficaces.
          </p>
        </div>
        <div class="col-md py-4">
          <img src="<%= asset_path('home/truck.svg') %>">

          <h2>
            Livrés chez vous
          </h2>

          <p>
            Vous pourrez commander vos produits sur jho.fr, on livrera à votre porte. Vous pourrez même vous abonner.
          </p>
        </div>
        <div class="col-md py-4">
          <img src="<%= asset_path('home/coeur.svg') %>">

          <h2>
            Merci pour elles&nbsp;!
          </h2>

          <p>
            A chacune de vos commandes, des produits seront distribués à des femmes dans le besoin.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row highlight-dark">
    <div class="container">
      <div class="row py-5">
        <div class="col-sm text-center">
          <p class="font-medium mb-2">
            Prête pour des produits plus sains et des règles sereines&nbsp;?
          </p>
          <p class="mb-4 font-fine">
            <span class="font-bold">Rejoins jho et parles-en autour de toi.</span>
            <span class="font-italic pl-2">(Pssst, il y a des cadeaux à gagner&nbsp;!)</span>
          </p>

          <%= form_for @user, :url => { :action => "create" } do |f| %>
            <div class="container">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5 mb-2">
                  <%= f.text_field(:email, :placeholder => "Email", :class => "form-control", :'aria-label' => "Renseigne ton email", :type => "email") %>
                </div>
                <div class="col-md-3">
                  <input name="commit" type="submit" class="btn btn-primary" value="Oui, je m’inscris">
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>
          <% end %>

          <% flash.each do |name, msg| -%>
            <div class="alert alert-danger mt-3">
              <%= msg %>
            </div>
          <% end -%>

        </div>
      </div>
    </div>
  </div>

  <%= render "users/footer" %>

</div>

<div id="modal-iframe"></div>
