<div class="container-fluid">
  <div class="row thanks">
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <img src="<%= asset_path('refer/jho-logo.svg') %>" class="mx-auto" id="logo">
        </div>
      </div>

      <div class="row">
        <div class="col-lg mb-5 px-lg-5 text-center">
          <img src="<%= asset_path('refer/merci.svg') %>" class="merci-img">
        </div>

        <div class="col-lg mb-5 text-center">
          <h1 class="mb-4 text-center">
            Parle de jho aux femmes de ton entourage&nbsp;!
          </h1>
          <p class="font-line font-big mb-4">
            Copie et envoie-leur ce lien... et surveille la jauge à cadeaux
          </p>

          <div class="copy-link mb-3" onclick="selectText(this)" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Copié !">
            <%= @referral_link %>
          </div><br>

          <div class="fb-share-button"
               data-href="<%= @referral_link %>"
               data-layout="button"
               data-size="small"
               data-mobile-iframe="false">
            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= @referral_link_urlencoded %>&amp;src=sdkpreparse">
              <img src="<%= asset_path('refer/share_fb.png') %>">
            </a>
          </div>

          <iframe
              src="https://platform.twitter.com/widgets/tweet_button.html?size=s&<%= @twitter_msg %>"
              width="61"
              height="20"
              scrolling="no"
              title="Twitter Tweet Button"
              style="border: 0; overflow: hidden;">
          </iframe>

        </div>
      </div>
    </div>
  </div>

  <%= render "users/gift_bar" %>
  <%= render "users/gift_bar_vertical" %>

  <div class="row social-links">
    <div class="container">
      <div class="row p-4">
        <div class="col-sm">
          <div class="font-big">
            Retrouve-nous sur
            <div class="social">
              <a href="<%= Rails.application.config.social_facebook %>">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="<%= Rails.application.config.social_twitter %>">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="<%= Rails.application.config.social_instagram %>">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "users/footer" %>
</div>
