<div class="container-fluid">
  <div class="row thanks">
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <img src="<%= asset_path('refer/jho-logo.svg') %>" class="mx-auto" id="logo">
        </div>
      </div>

      <div class="row">
        <div class="col-lg mb-5 px-lg-5 text-center">
          <img src="<%= asset_path('refer/merci.svg') %>" class="merci">
        </div>

        <div class="col-lg mb-5">
          <h1 class="mb-4 text-center">
            Parles-en à tes amis
            et surveille la jauge à cadeaux
          </h1>
          <p class="font-line font-big mb-4">
            Copie ce lien et partage-le
          </p>
          <p class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row highlight">
    <div class="container">
      <div class="row p-5">
        <div class="col-sm">
          <h2 class="text-center">
            Règle du jeu
          </h2>
          <%= render "users/gift_bar" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row social-links">
    <div class="container">
      <div class="row p-4">
        <div class="col-sm">
          <p class="font-big">
            Retrouvez-nous sur
            <a class="font-social" href="https://www.facebook.com/JHO-441801649550835/">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a class="font-social" href="https://twitter.com/MYJHOcom">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a class="font-social" href="https://www.instagram.com/jho.fr/?hl=fr">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%= render "users/footer" %>
</div>
