<!DOCTYPE html>
<html class="<%= @bodyId %>">
  <head>
    <%= render "layouts/google_analytics" %>

    <title>jho. : Tampons et serviettes 100% coton bio sur jho.fr</title>
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Cardo:400,400i" rel="stylesheet">

    <meta name="description" content="Enfin une marque généreuse de tampons et serviettes hygiéniques 100% coton bio et rien que du coton bio.">
    <meta property="og:title" content="jho. : Tampons et serviettes 100% coton bio sur jho.fr"/>
    <meta property="og:description" content="Enfin une marque généreuse de tampons et serviettes hygiéniques 100% coton bio et rien que du coton bio."/>
    <meta property="og:image" content="<%= asset_path("refer/jho-logo.png") %>"/>
    <meta property="og:url" content="<%= root_url %>"/>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js" crossorigin="anonymous"></script>

    <%= javascript_include_tag "application" %>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= @bodyId %>">
    <!--
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11&appId=228713813837461';
         fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));</script>
    -->
    <script src="https://use.fontawesome.com/fb02982e3e.js"></script>

    <%= yield %>

    <% unless @noCookieBanner %>
    <script>
     window.addEventListener("load", function(){
         window.cookieconsent.initialise({
             "palette": {
                 "popup": {
                     "background": "#E1E9ED",
                     "text": "#223c49",
                 },
                 "button": {
                     "background": "#e27170",
                     "text": "#ffffff",
                 }
             },
             "theme": "block",
             "position": "bottom",
             "content": {
                 "message": "Jho.fr utilise des cookies pour vous assurer la meilleure expérience. En continuant, vous acceptez l'utilisation de nos cookies.",
                 "dismiss": "D'accord!",
                 "link": "En savoir plus",
                 "href": "/mentions-legales"
             }
         })});
    </script>
    <% end %>

  </body>
</html>
