<!DOCTYPE html>
<html class="<%= @bodyId %>">
  <head>
    <%= render "layouts/google_analytics" %>

    <title>jho. : Tampons et serviettes 100% coton bio sur jho.fr</title>
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Forum|Overpass:400,600" rel="stylesheet">

    <meta name="description" content="Enfin une marque généreuse de tampons et serviettes hygiéniques 100% coton bio et rien que du coton bio.">
    <meta property="og:title" content="jho. : Tampons et serviettes 100% coton bio sur jho.fr"/>
    <meta property="og:description" content="Enfin une marque généreuse de tampons et serviettes hygiéniques 100% coton bio et rien que du coton bio."/>
    <meta property="og:image" content="<%= asset_path("refer/jho-logo.png") %>"/>
    <meta property="og:url" content="<%= root_url %>"/>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= @bodyId %>">

  <script src="https://use.fontawesome.com/fb02982e3e.js"></script>

  <%= yield %>

  </body>
</html>
